In [1]:
# pip install get-all-tickers

import pandas as pd
from pytickersymbols import PyTickerSymbols

stock_data = PyTickerSymbols()

In [2]:
# the naming conversation is get_{index_name}_{exchange_city}_{yahoo or google}_tickers

sp500_yahoo = stock_data.get_sp_500_nyc_yahoo_tickers()

# dax_google = stock_data.get_dax_frankfurt_google_tickers()

# dax_yahoo = stock_data.get_dax_frankfurt_yahoo_tickers()
# sp100_yahoo = stock_data.get_sp_100_nyc_yahoo_tickers()
# sp500_google = stock_data.get_sp_500_nyc_google_tickers()
# dow_yahoo = stock_data.get_dow_jones_nyc_yahoo_tickers()
# # there are too many combination. Here is a complete list of all getters
# all_ticker_getter_names = list(filter(
#    lambda x: (
#          x.endswith('_google_tickers') or x.endswith('_yahoo_tickers')
#    ),
#    dir(stock_data),
# ))
# print(all_ticker_getter_names)

In [3]:
# all_ticker_getter_names_df = pd.DataFrame(all_ticker_getter_names)
# all_ticker_getter_names_df

In [4]:
# all_ticker_getter_names_df.to_csv('all_ticker_getter_names.csv')

In [5]:
sp500_yahoo_df = pd.DataFrame(sp500_yahoo)
sp500_yahoo_df.to_csv('sp500_yahoo.csv')

In [6]:
# print(dow_yahoo)
sp500_yahoo_df

         0
0      LIN
1      CCL
2      CUK
3    CUKPF
4      STE
..     ...
526   TECH
527    BRO
528   CDAY
529     IR
530   CTRA

[531 rows x 1 columns]