In [4]:
import pandas as pd
import portfolio_builder_get_year_data as gy

def get_ranking(year):
    
    df = gy.get_year_data(year)



    sort_by_earnings_yield_df = df.sort_values(by='earnings_yield', ascending=False)
    sort_by_return_on_tangible_assets_df = df.sort_values(by='return_on_tangible_assets', ascending=False)

    dictionary = {}
    rank_by_earnings_yield_df = pd.DataFrame()
    rank_by_earnings_yield = 0
    for symbol in sort_by_earnings_yield_df['ticker']:

        rank_by_earnings_yield = rank_by_earnings_yield + 1

        for variable in ["symbol", "rank_by_earnings_yield"]:
            dictionary[variable] = eval(variable)

        rank_by_earnings_yield_df = rank_by_earnings_yield_df.append(dictionary, ignore_index=True)
    rank_by_earnings_yield_df.set_index('symbol', inplace=True)

    dictionary = {}
    rank_by_return_on_tangible_assets_df = pd.DataFrame()
    rank_by_return_on_tangible_assets = 0
    for symbol in sort_by_return_on_tangible_assets_df['ticker']:

        rank_by_return_on_tangible_assets = rank_by_return_on_tangible_assets + 1

        for variable in ["symbol", "rank_by_return_on_tangible_assets"]:
            dictionary[variable] = eval(variable)

        rank_by_return_on_tangible_assets_df = rank_by_return_on_tangible_assets_df.append(dictionary, ignore_index=True)
    rank_by_return_on_tangible_assets_df.set_index('symbol', inplace=True)


    combined_df = pd.concat([rank_by_earnings_yield_df, rank_by_return_on_tangible_assets_df], axis=1)

    combined_df ['final_rank'] = combined_df ['rank_by_earnings_yield'] + combined_df ['rank_by_return_on_tangible_assets']

    combined_df.sort_values('final_rank', inplace=True)

    return combined_df

        rank_by_earnings_yield  rank_by_return_on_tangible_assets  final_rank
symbol
GILD                      11.0                                2.0        13.0
MDLZ                      24.0                               10.0        34.0
UAL                        1.0                               36.0        37.0
DOV                       19.0                               25.0        44.0
LYB                       12.0                               44.0        56.0
...                        ...                                ...         ...
OXY                      380.0                              380.0       760.0
AMD                      384.0                              383.0       767.0
DVN                      385.0                              386.0       771.0
FCX                      387.0                              385.0       772.0
APA                      386.0                              387.0       773.0

[387 rows x 3 columns]