In [1]:
import pandas as pd
import portfolio_builder_calc_ranking as cr

year = "2015"

df = cr.get_ranking(year)
df

        rank_by_earnings_yield  rank_by_return_on_tangible_assets  final_rank
symbol
GILD                      11.0                                2.0        13.0
MDLZ                      24.0                               10.0        34.0
UAL                        1.0                               36.0        37.0
DOV                       19.0                               25.0        44.0
LYB                       12.0                               44.0        56.0
...                        ...                                ...         ...
OXY                      380.0                              380.0       760.0
AMD                      384.0                              383.0       767.0
DVN                      385.0                              386.0       771.0
FCX                      387.0                              385.0       772.0
APA                      386.0                              387.0       773.0

[387 rows x 3 columns]