In [4]:
import requests
from bs4 import BeautifulSoup
import pandas as pd

In [5]:
import numpy as np
import pandas as pd
import hvplot.pandas
import sqlalchemy
from pathlib import Path

In [6]:
# Using the read_csv function and Path module, create a DataFrame 
# by importing the sfo_neighborhoods_census_data.csv file from the Resources folder
nq_data_df = pd.read_csv(Path("../Resources/NASDAQ.csv"))

# Review the first and last five rows of the DataFrame
display(nq_data_df.head())
display(nq_data_df.tail())

  Column1                      Column2
0  Symbol                  Description
1       A         Agilent Technologies
2      AA                   Alcoa Corp
3     AAC   Ares Acquisition Corp Cl A
4   AAC.U  Ares Acquisition Corp Units

     Column1                          Column2
3660     ZTS                  Zoetis Inc Cl A
3661     ZUO                        Zuora Inc
3662    ZVIA                   Zevia Pbc Cl A
3663     ZWS  Zurn Elkay Water Solutions Corp
3664    ZYME                    Zymeworks Inc